*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  min-height: 100dvh;
  height: 100%;
  width: 100%;
}

body {
  background: url('/wallpaper.jpg') no-repeat center center fixed !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center center !important;
}